@(persons:List[Person])
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <script type='text/javascript' src='@routes.Assets.versioned("main.js")'></script>
    <!--  <script typeof="module">
          let decorated = (x,y) => new Person(name,age);
          let  add = (x,y) => (x+y);
          document.write(add(2,3));
          document.write(decorated("nitish", 21).display());

      </script>-->
</head>
<body>
    <h1 id="param1">1</h1>
    <h1 id="param2">2</h1>
    <h1 id="result">Value</h1>

    <input type="button" id="btn1" value="sum"/>
</body>
</html>
